<div class="box">
	<h6>NOTICE</h6>
	<ul>
		<li>The due date for yearbook page submission is March 31st, 2026</li>
		<li>Please review the following guidelines...</li>
		<li>Contact: <a href="mailto:chris.kim@mbizkr.com">chris.kim@mbizkr.com</a></li>
	</ul>
</div>

<div class="box">
	<h6>Yearbook Edit</h6>
	<ul>
		<li>Click “✚” to start making yearbook pages</li>
		<li>Customize the pages...</li>
	</ul>
</div>

<div class="box">
	<h6>Progress Report</h6>
	<p>Please ensure all submissions are finalized before the deadline.</p>
</div>

<div class="box">
	<h6>Submit to MBIZ</h6>
	<ul>
		<li>Final Submission Date is March 31st, 2026</li>
		<li>Modifications not allowed after submission.</li>
	</ul>
</div>