<div class="sidebar sidebar-dark-blue p-3" style="min-height: 100vh;">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="loadContent('home')">Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="loadContent('edit')">Yearbook Edit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/progress">Progress Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/submit">Submit to MBIZ</a>
        </li>
		<li class="nav-item">
		    <a class="nav-link" href="/contactUs">Contact Us</a>
		</li>
    </ul>
</div>